body {
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  gap: 200px;
  list-style-type: none;
  padding-left: 0;
}

.card_img {
  width: 200px;
}

.card_button {
  width: 100px;
  padding: 10px;
}

/* orderList.html */
table {
  border: 0.5px solid #111;
  margin: auto;
}
